#root,html,body{
    margin:0;
    box-sizing:border-box;
}
body{
    overflow: hidden;     
}

.landing{
    background: url(assets/landing.jpg) center;
    width:100%;
    height: 91vh;
    background-color: rgba(0, 0, 0,0.4);
 
}
.landing__container{
    display:grid;
    place-items: center;
    text-align: center;
    padding-top:20%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.btn{
    border-radius: 20px;
}

.contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact__touch{
    background-color: #f0f0f0;

}


.form__container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form__message{
    min-width: 60%;
}
.footer__main{
    background-color:#40514e;
    padding:30px 0;
    
}
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal__card{
    border-radius: 100px;
}
.modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.modal__container{
    display: flex;
    
    align-items: center;
    justify-content: center;
}